/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(111,0,255);

body {
    margin : 0;
    font-family: 'Nunito','sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding:1em 0;
    position: sticky;


    h1{
      color:white;
    }

    .navigationMenu{
      background: $primary;
      width: 80%;
      margin: 0 auto;
      display: flex;

       a {
              padding: 15px;
              color: white;
              text-decoration: none;

              // & refers to this
              &:hover{
                  background: darken($color: $primary, $amount:10%);
              }

              &.active{
                  color:yellow;
                  font-weight: bold;
              }
          }

    }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

